@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Lato:wght@300&family=Roboto+Mono:wght@100;600&display=swap');

.heroCard {

}

.gridItem {
    display: grid;
    grid-template: "gridItem";
    place-items: center;
    place-content: center;
    overflow: hidden;
    max-height: clamp(450px, 50vw, 600px);

    position: relative;
    margin:0 auto;
    width: 100%;

}

.gridItem > * {
    grid-area: gridItem;
    max-width: 1000px;
}

.heroImage {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;

    position: relative;
    z-index: -1;
    filter: brightness(.7);
}

.heroText {
    position: relative;
    z-index: 1;
    padding: .5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 4rem);
    color: rgb(255, 255, 255);
}






@media screen and (min-width: 568px) {
    .heroText{
    }
}