.info-card {
    grid-column-start: 2;
    grid-column-end:12;
    margin: .5rem;
    text-align: center;
}

.info-card h1 {
    color: #111827;
    font-weight: 900;
    text-align: center;
    margin: .5rem;
}

.info-card p {
    margin: .5rem;
    color: #4B5563;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: clamp(24px, 4vw, 32px);
    font-size: clamp(16px, 3vw, 24px);
}