:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.appContainer {
  max-width: 1200px;

  /* center all items */
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
