/* Hamburger button styles */

.hamburger {
    display:grid;
    grid-column-start: 11;
    grid-column-end: 13;
    width: 50px;
    cursor: pointer;
    /* position: fixed; */
    right: 20px;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #797979;
    margin: .2rem;
}

.hamburger.open {
    transition: transform 0.3s ease-in-out;
}

.line {
    transition: transform 0.3s ease-in-out;
}

.open .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  .open .line:nth-child(2) {
    opacity: 0;
  }
  
  .open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }


/* Drawer styles */
.drawer {
    width: 350px;
    height: 100vh;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9998;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.drawer.open {
    transform: translateX(0);
}

nav {
    padding: 20px;
}

.drawerList {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
}
