@import './root.module.css';

.navbar {
    margin-left: 15%;
    margin-right: 15%;
}

.navLinkGroup {
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.navLink {
    text-decoration: none;
    list-style: none;

    color: var(--secondary-color);
}

.navLink:hover {
    color: var(--primary-color);
}

.drawerToggle {
    display:none;
}

@media (max-width: 800px) {
    .navbar {
        margin-left: 5%;
        margin-right: 5%;
    }
    .drawerToggle {
        display: block;
        border-width: none;
        box-shadow: none;
    }

    .drawerLink {
        text-decoration: none;
        list-style: none;

        color: var(--secondary-color);
    }

    .drawerLink:hover {
        color: var(--primary-color);
    }

    .navLinkGroup {
        display: none;
    }

}