:root {
    --bg-color: #272727;
}

.mainLayout {
    display: grid;
    grid-template-columns: repeat(4, minmax(1fr, 4fr));
    gap: 2rem;
}


/* HERO CARD */
.heroCard {
    color: aliceblue;

    grid-column-start: 1;
    grid-column-end: 5;

    margin: 0 auto;

    position: relative;
    /* background: linear-gradient(134deg, #3BF686 40.75%, #4CA9FF 90.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.heroImg {
    width: 100%;
    height: 100%;
    /* height: auto;
    object-fit: cover;
    z-index: -1;
    filter: brightness(.7); */
}


.heroText {
    position: absolute;
    top: 50%;
    bottom: 50%;

    /* Heading/H2 */
    font-family: Sora;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 128.571% */
    letter-spacing: 1px;
    text-align: center;
}

.bioSection {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    color: white
}

.imgSection {
    justify-self: center;
}

.socialSection {
    text-align: center;
}

.socialSection > h3 {
    margin-bottom: 2rem;
}

.socialLinks {
    display:grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
}




