.container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* ------- HERO SECTION -------- */ 
.heroContainer {
    background-color: #85443268;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heroImgContainer {
    margin-left: 15%;
    margin-right: 15%;

}

.heroImgContainer > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;

    border-radius: 1rem;
}

.heroText {
    text-align: center;
    margin-top: clamp(2rem, 5vw, 4rem);
    margin-bottom: clamp(2rem, 5vw, 4rem);
}

.heroText > h1 {
    font-size: clamp(2rem, 5vw, 4.5rem);
    font-weight: bold;
}

.heroDescription {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    font-size: 1.5rem;
    text-align: center;
    justify-content: center;

    color: white;
}
